# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary LaTeX files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment folders
env/
venv/
*.env
